

.App{
    background-image: url("https://github.com/NishantGangwar492/tusharsharma/blob/main/bg.jpeg?raw=true");
    background-size: cover;
    z-index: -1;
    height: 100vh;
}

@media (max-width:1160px) {
    .App{
        background-image: url("https://github.com/NishantGangwar492/tusharsharma/blob/main/bg.jpeg?raw=true");
        /* https://github.com/NishantGangwar492/tusharsharma/blob/main/bg2.jpeg?raw=true */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 70%;
    z-index: -1;
    height: 100vh;
    }
}
@media (max-width:600px) {
    .App{
        background-image: url("https://github.com/NishantGangwar492/tusharsharma/blob/main/bg2.jpeg?raw=true");
        
    }
}